div.container{
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

 
}

.box{
    /* width: 200px; */
    height: 100px;
   flex: 1 1 200px;
}

.box1{
 
background-color: aliceblue;
} 
.box2{
   
    background-color: beige;
}
.box3{
    
    background-color: aquamarine;
}
.box4{
    
   background-color: black; 
}
.box5{
   
    background-color: blueviolet;
}